In [17]:
import pandas as pd

df = pd.read_parquet("pns_2019.parquet")
df

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,11,1110011,110000016,1,1,2019,6,1,1,1,...,1,6,2098,350,2,NA,NA,NA,NA,20210825
1,11,1110011,110000016,1,1,2019,6,1,1,0,...,NA,NA,2098,350,2,NA,NA,NA,NA,20210825
2,11,1110011,110000016,1,1,2019,6,1,1,0,...,1,4,2098,350,2,NA,NA,NA,NA,20210825
3,11,1110011,110000016,1,1,2019,6,1,1,9,...,NA,NA,2098,350,2,NA,NA,NA,NA,20210825
4,11,1110011,110000016,1,1,2019,6,1,1,9,...,NA,NA,2098,350,2,NA,NA,NA,NA,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,53,5310220,530044434,14,1,2019,4,2,1,0,...,1,1,13390,3348,6,NA,NA,NA,NA,20210825
293722,53,5310220,530044434,14,1,2019,4,2,1,1,...,NA,NA,13390,3348,6,NA,NA,NA,NA,20210825
293723,53,5310220,530044434,14,1,2019,4,2,1,0,...,1,7,13390,3348,6,NA,NA,NA,NA,20210825
293724,53,5310220,530044434,14,1,2019,4,2,1,9,...,NA,NA,13390,3348,6,NA,NA,NA,NA,20210825
293725,53,5310220,530044434,15,8,2019,NA,2,1,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,20210825

In [18]:
colunas_interesse = [
    # HÃ¡bitos Alimentares
    "P00601", "P00602", "P00604", "P00605", "P01101", "P013", "P015",
    "P00612", "P023", "P02401", "P00613", "P00603", "P00607", "P00608",
    "P00609", "P00610", "P00611", "P00901", "P01001", "P018", "P019",
    "P00614", "P00615", "P00616", "P00617", "P00618", "P00619", "P00620",
    "P00621", "P00622", "P00623", "P02001", "P02002", "P02101", "P02102",
    "P02501", "P02602", "P027", "P028", "P029", "P030", "P031", "P032",
    "P03301", "P03302", "P03303", "P034", "P035", "P036", "P03701", "P03702",

    # SaÃºde
    "Q00201", "Q003", "Q03001", "Q060", "Q06306", "Q06307", "Q06308", "Q06309", "Q06310", "Q06311",
    "Q068", "Q074", "Q079", "Q084", "Q088", "Q11604", "Q11605", "Q11606", "Q11607",
    "Q120", "Q124", "Q128",
    "J00801", "Q028", "Q058", "Q067", "Q073", "Q078", "Q083", "Q087", "Q091",
    "Q109", "Q115", "Q119", "Q12301", "Q127",
    "J02901", "J030", "J031", "J032", "J033", "J034", "J035",
    "Q00601", "Q00602", "Q03403", "Q03404", "Q03803", "Q03804",
    "Q09605", "Q09606", "Q09607", "Q11806", "Q11807", "Q11808",
    "Q01910", "Q01911", "Q01912", "Q01913", "Q04707", "Q04708", "Q04709", "Q04710", "Q04711",
    "Q05301", "Q05401", "K044", "K045", "K046", "K047",
    "R00101", "R00201", "R00301", "R00401", "R00501", "R00601", "R00701", "R00801",
    "R00901", "R01001", "R01101", "R01201", "R01301", "R01401", "R01501", "R01601", "R01701",

    # Geografia
    "V0001", "V0031", "P046", "P04701", "P04801", "P04902",

    # GenÃ©tica
    "Q092", "Q11006", "Q11007", "Q11008", "Q11009", "Q11010",
    "Q031", "Q061", "Q064", "Q070", "Q075", "Q080", "Q085", "Q08901",
    "Q09301", "Q111", "Q11701", "Q12201", "Q125",
    "L021", "L024", "L027", "L030"
]

# Garantir que sÃ³ pegamos colunas que existem no dataset
colunas_existentes = [c for c in colunas_interesse if c in df.columns]

# Filtrar a base
df_filtrado = df[colunas_existentes]

df_filtrado

,P00601,P00602,P00604,P00605,P01101,P013,P015,P00612,P023,P02401,...,Q08901,Q09301,Q111,Q11701,Q12201,Q125,L021,L024,L027,L030
0,1,1,1,2,3,6,3,1,7,2,...,NA,50,NA,NA,NA,NA,NA,NA,NA,NA
1,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293722,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293723,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293724,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293725,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [19]:
df_filtrado['Q00201'].unique()

array(['1', 'NA', '2'], dtype=object)

In [20]:
# Lista de doenÃ§as
doencas = [
    'Q00201', 'Q03001', 'Q060', 'Q06306', 'Q068', 'Q074', 'Q079', 'Q088',
    'Q092', 'Q11006', 'Q11604', 'Q120', 'Q124', 'Q128'
]

# Filtrar linhas
df_filtrado2 = df_filtrado[
    (df_filtrado[doencas].eq('2').all(axis=1))  # todas as doenÃ§as = "NÃ£o"
    |
    (df_filtrado['Q00201'] == '1')              # ou hipertensÃ£o = "Sim"
]

df_filtrado2

,P00601,P00602,P00604,P00605,P01101,P013,P015,P00612,P023,P02401,...,Q08901,Q09301,Q111,Q11701,Q12201,Q125,L021,L024,L027,L030
0,1,1,1,2,3,6,3,1,7,2,...,NA,50,NA,NA,NA,NA,NA,NA,NA,NA
9,1,2,1,2,4,2,0,2,0,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
10,1,2,1,2,7,0,3,1,0,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
18,1,2,1,1,7,3,3,1,0,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
19,1,2,2,1,3,2,1,2,7,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293660,1,1,1,1,5,2,0,1,2,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293669,1,1,1,2,5,2,1,2,3,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293689,1,1,1,2,3,3,1,2,0,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293690,2,2,1,1,7,2,0,2,6,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
293713,1,1,1,2,6,0,0,1,7,2,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [21]:
df_filtrado2.to_csv("pns_filtrada.csv", index=False, sep=";")

df_filtrado2.to_parquet("pns_filtrada.parquet", index=False)

In [10]:
dicionario = pd.read_excel("dicionario_PNS_microdados_2019_23062023.xlsx", header=1)
dicionario

,PosiÃ§Ã£o inicial,Tamanho,CÃ³digo\nda\nvariÃ¡vel,Quesito,Unnamed: 4,Categorias,Unnamed: 6
0,NaN,NaN,NaN,nÂº,descriÃ§Ã£o,Tipo,DescriÃ§Ã£o
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parte 1 - IdentificaÃ§Ã£o e Controle,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2.0,V0001,NaN,Unidade da FederaÃ§Ã£o,11,RondÃ´nia
4,NaN,NaN,NaN,NaN,NaN,12,Acre
...,...,...,...,...,...,...,...
5217,NaN,NaN,NaN,NaN,NaN,7,"Outro mÃ©todo moderno (camisinha feminina, pÃ­lu..."
5218,NaN,NaN,NaN,NaN,NaN,8,Tabelinha/ Billings
5219,NaN,NaN,NaN,NaN,NaN,9,Outro mÃ©todo tradicional
5220,NaN,NaN,NaN,NaN,NaN,NaN,NÃ£o aplicÃ¡vel
5221,1541,8.0,VDDATA,NaN,Data de geraÃ§Ã£o do arquivo de microdados. Data...,NaN,NaN

In [11]:
dic_limpo = dicionario.drop(dicionario.columns[[0, 1, 3, 5, 6]], axis=1)
dic_limpo

     CÃ³digo\nda\nvariÃ¡vel                                         Unnamed: 4
0                     NaN                                          descriÃ§Ã£o
1                     NaN                                                NaN
2                     NaN                                                NaN
3                   V0001                               Unidade da FederaÃ§Ã£o
4                     NaN                                                NaN
...                   ...                                                ...
5217                  NaN                                                NaN
5218                  NaN                                                NaN
5219                  NaN                                                NaN
5220                  NaN                                                NaN
5221               VDDATA  Data de geraÃ§Ã£o do arquivo de microdados. Data...

[5222 rows x 2 columns]

In [12]:
dic_limpo = dic_limpo.rename(columns={
    dic_limpo.columns[0]: "codigo",
    dic_limpo.columns[1]: "descricao"
})
dic_limpo

      codigo                                          descricao
0        NaN                                          descriÃ§Ã£o
1        NaN                                                NaN
2        NaN                                                NaN
3      V0001                               Unidade da FederaÃ§Ã£o
4        NaN                                                NaN
...      ...                                                ...
5217     NaN                                                NaN
5218     NaN                                                NaN
5219     NaN                                                NaN
5220     NaN                                                NaN
5221  VDDATA  Data de geraÃ§Ã£o do arquivo de microdados. Data...

[5222 rows x 2 columns]

In [13]:
import pandas as pd

# Quantos sÃ£o nulos na coluna 0 e na coluna 1
nulos_0_e_1 = dic_limpo[dic_limpo['codigo'].isna() & dic_limpo['descricao'].isna()].shape[0]

# Quantos nÃ£o sÃ£o nulos na coluna 0 e na coluna 1
nao_nulos_0_e_1 = dic_limpo[~dic_limpo['codigo'].isna() & ~dic_limpo['descricao'].isna()].shape[0]

# Quantos sÃ£o nulos na coluna 0, mas nÃ£o na coluna 1
nulos_0_nao_1 = dic_limpo[dic_limpo['codigo'].isna() & ~dic_limpo['descricao'].isna()].shape[0]

# Quantos sÃ£o nulos na coluna 1, mas nÃ£o na coluna 0
nulos_1_nao_0 = dic_limpo[~dic_limpo['codigo'].isna() & dic_limpo['descricao'].isna()].shape[0]

print("Nulos em 0 e 1:", nulos_0_e_1)
print("NÃ£o nulos em 0 e 1:", nao_nulos_0_e_1)
print("Nulos em 0, nÃ£o em 1:", nulos_0_nao_1)
print("Nulos em 1, nÃ£o em 0:", nulos_1_nao_0)

Nulos em 0 e 1: 4132
NÃ£o nulos em 0 e 1: 1089
Nulos em 0, nÃ£o em 1: 1
Nulos em 1, nÃ£o em 0: 0

In [14]:
# Remove linhas com cÃ³digo nulo
dic_limpo.dropna(subset=['codigo'], inplace=True)

# Reseta o Ã­ndice
dic_limpo.reset_index(drop=True, inplace=True)

dic_limpo

         codigo                                          descricao
0         V0001                               Unidade da FederaÃ§Ã£o
1         V0024                                            Estrato
2       UPA_PNS                                                UPA
3     V0006_PNS                NÃºmero de ordem do domicÃ­lio na PNS
4         V0015                                 Tipo da entrevista
...         ...                                                ...
1084     VDL001  Idade em meses das crianÃ§as nascidas no perÃ­od...
1085     VDM001  Faixa de tempo gasto por dia no deslocamento c...
1086     VDP001           Tipo de cigarro industrializado comprado
1087     VDR001       MÃ©todo contraceptivo mais eficaz que faz uso
1088     VDDATA  Data de geraÃ§Ã£o do arquivo de microdados. Data...

[1089 rows x 2 columns]

In [15]:
# Filtra dic_limpo para manter apenas cÃ³digos que estÃ£o nas colunas do df_filtrado
dic_limpo = dic_limpo[dic_limpo['codigo'].isin(df_filtrado.columns)].reset_index(drop=True)

dic_limpo

     codigo                                          descricao
0     V0001                               Unidade da FederaÃ§Ã£o
1     V0031                                       Tipo de Ã¡rea
2    J00801  Alguma dessas doenÃ§as limita de alguma forma s...
3    J02901   Neste atendimento de ___, foi receitado algum...
4      J032  Algum dos medicamentos foi coberto por plano d...
..      ...                                                ...
140    Q127  Em geral, em que grau a insuficiÃªncia renal cr...
141    Q128  Algum mÃ©dico jÃ¡ lhe deu algum diagnÃ³stico de o...
142  R00101  Quando foi a Ãºltima vez que a Sra fez exame pr...
143  R00601  Quanto tempo depois de ter realizado o Ãºltimo ...
144  R01701  Quando foi a Ãºltima vez que a Sra fez um exame...

[145 rows x 2 columns]

In [16]:
# Ordenar dic_limpo na mesma ordem das colunas de df_filtrado
dic_limpo['codigo'] = pd.Categorical(dic_limpo['codigo'], categories=df_filtrado.columns, ordered=True)
dic_limpo = dic_limpo.sort_values('codigo').reset_index(drop=True)

# Salvar em CSV
dic_limpo.to_csv('dicionario_hip.csv', index=False, sep="|")